body {
  margin: 0;
  background-image: url("./assets/bg.jpg");
  background-position: 1%;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #663D99;
}

body::-webkit-scrollbar-thumb {
  background-color:#3a1c5f;
  border-right: 50px solid #3a1c5f;
  border-radius: 10px;
  
}
 

